@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to our DANGEROUS DUCK AGENСY</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="/images/banner.png" class="img-fluid img-thumbnail" alt="Banner of agency"/>
    </div>
</div>
